<nav class="navbar navbar-inverted navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span ><span class="icon-bar"></span>
      <span class="icon-bar"></span >
    </button>
    <a class="navbar-brand" ui-sref="app">Brand</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li ui-sref-active="active"> <a ui-sref="app"> <i class="glyphicon glyphicon-home"> </i >Home</a> </li>
      <li ui-sref-active="active"> <a ui-sref=".dashboard"> <i class="glyphicon glyphicon-dashboard" > </i>Dashboard</a> </li>
      <li ui-sref-active="active"> <a ui-sref=".campaigns"> <i class="glyphicon glyphicon-bullhorn"> </i>Campaigns</a> </li>
      <li ui-sref-active="active"> <a ui-sref=".subscribers"> <i class="glyphicon glyphicon-user" > </i>Subscribers</a> </li>
    </ul>
  </div>
</nav >
