<!DOCTYPE html>
<html>
  <head>
    <title>Bootbox - Simple Survery App</title>
    <script src="lib/jquery-1.9.1.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="css/survey_app.css" rel="stylesheet" type="text/css" />
    <script src="lib/underscore-1.4.4.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/bootbox.min.js"></script>
    <script src="js/simple_survey_app.js"></script>
  </head>
  <body>
    <button id='start_survey' class='btn btn-success'>Start Survery</button>
    <div class='survey_panel hide'>
      <div class='survery_result_caption'>Survey Results</div>
      <div id='survey_results'></div>
    </div>
  </body>

  <script type="text/template" id="survey_template">
    <table class='table'>
      <thead>
        <tr class='table_header'>
          <th>Survey Kind</th><th>Your Response</th>
        </tr>
      </thead>
      <tbody>
        <% _.each(surveys, function(survey_response, survey_question_kind){ %>
          <tr>
            <td><%- survey_question_kind %></td>
            <td><%- survey_response %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </script>
</html>